body{
  background-color: #0e8785;
}
.container{
  margin-left:500px;
  margin-right: 500px;
  background-color: white;
  margin-top: 150px;
  padding-bottom: 50px;
  border-radius: 10px;
}
h1{
  color:#0e8785;
  padding-top:30px;
  text-decoration: underline;

}
.question{
  font-size: 25px;
  font-family:cursive;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  padding-left: 90px;
  text-align: left;
  word-wrap: break-word;

}
.options{
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 90px;
  text-align: left;
  word-wrap: break-word;

}
span{
  font-size: 20px;
  font-family: cursive;
  padding-left: 10px;
}
.options input {
    width: 3;
    height: 3;
  }
.next{
  margin-top: 20px;
  height: 40px;
  width:90px;
  border-radius: 10px;
  background-color: #4e8281;
  border: solid #4e8281;
  box-shadow: 2px 2px 2px #365959;
  font-size: 25px;
  font-family:fantasy;
  color: #e3e6e6;
}
